# PANDAS

In [2]:
import pandas as pd
#importar archivos CSV con pandas 
data1 = pd.read_csv("../datasets/brics.csv", index_col=0)


#seleccionar una columna
data1["country"]
print (data1["country"])

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [4]:
#describe una columna
print (data1.describe())

            area   population
count   5.000000     5.000000
mean    7.944000   601.176000
std     6.200557   645.261454
min     1.221000    52.980000
25%     3.286000   143.500000
50%     8.516000   200.400000
75%     9.597000  1252.000000
max    17.100000  1357.000000

In [5]:
#da informacio relevante sobre una columna
print (data1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, BR to SA
Data columns (total 4 columns):
country       5 non-null object
capital       5 non-null object
area          5 non-null float64
population    5 non-null float64
dtypes: float64(2), object(2)
memory usage: 140.0+ bytes
None

In [6]:
#conocer la forma de la tabla
print (data1.shape)

(5, 4)

In [7]:
#el top 5
print (data1.head())

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [8]:
#los ultimos 5 registros
print (data1.tail())

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [9]:
#decribe una columna
print (data1["country"].count_values(dropna=False))

AttributeError: 'Series' object has no attribute 'count_values'

# Melt