# Tidy data

In [ ]:
La estructura que Wickham define como ordenada tiene los siguientes atributos:

Cada variable forma una columna y contiene valores
Cada observación forma una fila
Cada tipo de unidad de observación forma una tabla

In [1]:
import pandas as pd
maindata = pd.read_csv("../datasets/pokemon.csv", index_col=0, encoding="utf-8")
print (maindata)

           Name    Type 1   Type 2  Total   HP  Attack  Defense  Sp. Atk  \
#
1     Bulbasaur     Grass   Poison    318   45      49       49       65
2       Ivysaur     Grass   Poison    405   60      62       63       80
3      Venusaur     Grass   Poison    525   80      82       83      100
4    Charmander      Fire      NaN    309   39      52       43       60
5    Charmeleon      Fire      NaN    405   58      64       58       80
6     Charizard      Fire   Flying    534   78      84       78      109
7      Squirtle     Water      NaN    314   44      48       65       50
8     Wartortle     Water      NaN    405   59      63       80       65
9     Blastoise     Water      NaN    530   79      83      100       85
10     Caterpie       Bug      NaN    195   45      30       35       20
11      Metapod       Bug      NaN    205   50      20       55       25
12   Butterfree       Bug   Flying    395   60      45       50       90
13       Weedle       Bug   Poison    195   40      35       30       20
14       Kakuna       Bug   Poison    205   45      25       50       25
15     Beedrill       Bug   Poison    395   65      90       40       45
16       Pidgey    Normal   Flying    251   40      45       40       35
17    Pidgeotto    Normal   Flying    349   63      60       55       50
18      Pidgeot    Normal   Flying    479   83      80       75       70
19      Rattata    Normal      NaN    253   30      56       35       25
20     Raticate    Normal      NaN    413   55      81       60       50
21      Spearow    Normal   Flying    262   40      60       30       31
22       Fearow    Normal   Flying    442   65      90       65       61
23        Ekans    Poison      NaN    288   35      60       44       40
24        Arbok    Poison      NaN    438   60      85       69       65
25      Pikachu  Electric      NaN    320   35      55       40       50
26       Raichu  Electric      NaN    485   60      90       55       90
27    Sandshrew    Ground      NaN    300   50      75       85       20
28    Sandslash    Ground      NaN    450   75     100      110       45
29      Nidoran    Poison      NaN    275   55      47       52       40
30     Nidorina    Poison      NaN    365   70      62       67       55
..          ...       ...      ...    ...  ...     ...      ...      ...
122    Mr. Mime   Psychic    Fairy    460   40      45       65      100
123     Scyther       Bug   Flying    500   70     110       80       55
124        Jynx       Ice  Psychic    455   65      50       35      115
125  Electabuzz  Electric      NaN    490   65      83       57       95
126      Magmar      Fire      NaN    495   65      95       57      100
127      Pinsir       Bug      NaN    500   65     125      100       55
128      Tauros    Normal      NaN    490   75     100       95       40
129    Magikarp     Water      NaN    200   20      10       55       15
130    Gyarados     Water   Flying    540   95     125       79       60
131      Lapras     Water      Ice    535  130      85       80       85
132       Ditto    Normal      NaN    288   48      48       48       48
133       Eevee    Normal      NaN    325   55      55       50       45
134    Vaporeon     Water      NaN    525  130      65       60      110
135     Jolteon  Electric      NaN    525   65      65       60      110
136     Flareon      Fire      NaN    525   65     130       60       95
137     Porygon    Normal      NaN    395   65      60       70       85
138     Omanyte      Rock    Water    355   35      40      100       90
139     Omastar      Rock    Water    495   70      60      125      115
140      Kabuto      Rock    Water    355   30      80       90       55
141    Kabutops      Rock    Water    495   60     115      105       65
142  Aerodactyl      Rock   Flying    515   80     105       65       60
143     Snorlax    Normal      NaN    540  160     110       65       65
144    Articuno       Ice   Flying    580   90      85      100       95
145      Zapdos  Electric   Flying    580   90      90       85      125
146     Moltres      Fire   Flying    580   90     100       90      125
147     Dratini    Dragon      NaN    300   41      64       45       50
148   Dragonair    Dragon      NaN    420   61      84       65       70
149   Dragonite    Dragon   Flying    600   91     134       95      100
150      Mewtwo   Psychic      NaN    680  106     110       90      154
151         Mew   Psychic      NaN    600  100     100      100      100

     Sp. Def  Speed  Stage  Legendary
#
1         65     45      1      False
2         80     60      2      False
3        100     80      3      False
4         50     65      1      False
5         65     80      2      False
6         85    100      3      False
7         64     43      1      False
8         80     58      2      False
9        105     78      3      False
10        20     45      1      False
11        25     30      2      False
12        80     70      3      False
13        20     50      1      False
14        25     35      2      False
15        80     75      3      False
16        35     56      1      False
17        50     71      2      False
18        70    101      3      False
19        35     72      1      False
20        70     97      2      False
21        31     70      1      False
22        61    100      2      False
23        54     55      1      False
24        79     80      2      False
25        50     90      1      False
26        80    110      2      False
27        30     40      1      False
28        55     65      2      False
29        40     41      1      False
30        55     56      2      False
..       ...    ...    ...        ...
122      120     90      1      False
123       80    105      1      False
124       95     95      1      False
125       85    105      1      False
126       85     93      1      False
127       70     85      1      False
128       70    110      1      False
129       20     80      1      False
130      100     81      2      False
131       95     60      1      False
132       48     48      1      False
133       65     55      1      False
134       95     65      2      False
135       95    130      2      False
136      110     65      2      False
137       75     40      1      False
138       55     35      1      False
139       70     55      2      False
140       45     55      1      False
141       70     80      2      False
142       75    130      1      False
143      110     30      1      False
144      125     85      1       True
145       90    100      1       True
146       85     90      1       True
147       50     50      1      False
148       70     70      2      False
149      100     80      3      False
150       90    130      1       True
151      100    100      1      False

[151 rows x 12 columns]

# Melt convierte filas en columnas

In [ ]:
# ejemplo 1
"""
frame = el DataFrame
id_vars = Columnas q no se moveran
value_vars = Columnas que serán transformadas
var_name = el nombre de la columna final
value_name = el nombre de la columna con los datos

"""
airquality_melt = pd.melt(frame=airquality, id_vars=["Month","Day"], value_vars=["Ozone","Solar.R","Wind"],var_name='measurement', value_name="reading")

In [3]:
pd.melt(frame=maindata, id_vars=["Name","Total","HP","Attack","Defense","Sp. Atk"], value_vars=["Type 1","Type 2"], var_name="Tipo", value_name="Clase")

           Name  Total   HP  Attack  Defense  Sp. Atk    Tipo     Clase
0     Bulbasaur    318   45      49       49       65  Type 1     Grass
1       Ivysaur    405   60      62       63       80  Type 1     Grass
2      Venusaur    525   80      82       83      100  Type 1     Grass
3    Charmander    309   39      52       43       60  Type 1      Fire
4    Charmeleon    405   58      64       58       80  Type 1      Fire
5     Charizard    534   78      84       78      109  Type 1      Fire
6      Squirtle    314   44      48       65       50  Type 1     Water
7     Wartortle    405   59      63       80       65  Type 1     Water
8     Blastoise    530   79      83      100       85  Type 1     Water
9      Caterpie    195   45      30       35       20  Type 1       Bug
10      Metapod    205   50      20       55       25  Type 1       Bug
11   Butterfree    395   60      45       50       90  Type 1       Bug
12       Weedle    195   40      35       30       20  Type 1       Bug
13       Kakuna    205   45      25       50       25  Type 1       Bug
14     Beedrill    395   65      90       40       45  Type 1       Bug
15       Pidgey    251   40      45       40       35  Type 1    Normal
16    Pidgeotto    349   63      60       55       50  Type 1    Normal
17      Pidgeot    479   83      80       75       70  Type 1    Normal
18      Rattata    253   30      56       35       25  Type 1    Normal
19     Raticate    413   55      81       60       50  Type 1    Normal
20      Spearow    262   40      60       30       31  Type 1    Normal
21       Fearow    442   65      90       65       61  Type 1    Normal
22        Ekans    288   35      60       44       40  Type 1    Poison
23        Arbok    438   60      85       69       65  Type 1    Poison
24      Pikachu    320   35      55       40       50  Type 1  Electric
25       Raichu    485   60      90       55       90  Type 1  Electric
26    Sandshrew    300   50      75       85       20  Type 1    Ground
27    Sandslash    450   75     100      110       45  Type 1    Ground
28      Nidoran    275   55      47       52       40  Type 1    Poison
29     Nidorina    365   70      62       67       55  Type 1    Poison
..          ...    ...  ...     ...      ...      ...     ...       ...
272    Mr. Mime    460   40      45       65      100  Type 2     Fairy
273     Scyther    500   70     110       80       55  Type 2    Flying
274        Jynx    455   65      50       35      115  Type 2   Psychic
275  Electabuzz    490   65      83       57       95  Type 2       NaN
276      Magmar    495   65      95       57      100  Type 2       NaN
277      Pinsir    500   65     125      100       55  Type 2       NaN
278      Tauros    490   75     100       95       40  Type 2       NaN
279    Magikarp    200   20      10       55       15  Type 2       NaN
280    Gyarados    540   95     125       79       60  Type 2    Flying
281      Lapras    535  130      85       80       85  Type 2       Ice
282       Ditto    288   48      48       48       48  Type 2       NaN
283       Eevee    325   55      55       50       45  Type 2       NaN
284    Vaporeon    525  130      65       60      110  Type 2       NaN
285     Jolteon    525   65      65       60      110  Type 2       NaN
286     Flareon    525   65     130       60       95  Type 2       NaN
287     Porygon    395   65      60       70       85  Type 2       NaN
288     Omanyte    355   35      40      100       90  Type 2     Water
289     Omastar    495   70      60      125      115  Type 2     Water
290      Kabuto    355   30      80       90       55  Type 2     Water
291    Kabutops    495   60     115      105       65  Type 2     Water
292  Aerodactyl    515   80     105       65       60  Type 2    Flying
293     Snorlax    540  160     110       65       65  Type 2       NaN
294    Articuno    580   90      85      100       95  Type 2    Flying
295      Zapdos    580   90      90       85      125  Type 2    Flying
296     Moltres    580   90     100       90      125  Type 2    Flying
297     Dratini    300   41      64       45       50  Type 2       NaN
298   Dragonair    420   61      84       65       70  Type 2       NaN
299   Dragonite    600   91     134       95      100  Type 2    Flying
300      Mewtwo    680  106     110       90      154  Type 2       NaN
301         Mew    600  100     100      100      100  Type 2       NaN

[302 rows x 8 columns]

# Pivot convierte columnas en filas

In [ ]:
pd.pivot(data= , index= , columns="", values="", agg_func=np.mean)

In [ ]:
#se usa pivot_table cuando hay valores reptidos y me generan conflicto
pd.pivot_table(data=airquality_melt, index=['Month','Day'], columns='measurement', values='reading')

In [ ]:
#resetear el index de la table
airquality_pivot = pd.pivot_table(data=airquality_dup, index=['Month','Day'], columns='measurement', values='reading', aggfunc=np.mean)