# Clase 1 Exploring your data

In [ ]:
#importar data
import pandas as pd
data1 = pd.read_excel("../datasets/TREND01-5G-educ-fertility-bubbles.xls", index_col=0)

In [23]:
print(data1.head()) #ver el inicio

                                                   Unnamed: 1  \
Sources: UNESCO Institute for statistics ; Worl...
NaN                                                       NaN
SEE FOLLOWING SHEETS FOR RAW DATA AND LINKS               NaN
NaN                                                       NaN
Fertility versus female literacy by country               NaN
NaN                                                       NaN

                                                           Unnamed: 2  \
Sources: UNESCO Institute for statistics ; Worl...
NaN                                                               NaN
SEE FOLLOWING SHEETS FOR RAW DATA AND LINKS                       NaN
NaN                                                               NaN
Fertility versus female literacy by country                       NaN
NaN                                                 most recent value

                                                   Unnamed: 3 Unnamed: 4
Sources: UNESCO Institute for statistics ; Worl...
NaN                                                       NaN        NaN
SEE FOLLOWING SHEETS FOR RAW DATA AND LINKS               NaN        NaN
NaN                                                       NaN        NaN
Fertility versus female literacy by country               NaN        NaN
NaN                                                       NaN        NaN

In [16]:
print(data1.tail()) #ver el final

                                                   Unnamed: 1 Unnamed: 2  \
Sources: UNESCO Institute for statistics ; Worl...
Antilles néerlandaises                                    NaN       96.3
Iles Caïmanes                                             NaN         99
Seychelles                                                NaN       92.3
Territoires autonomes palestiniens                        NaN       90.9
WORLD                                                   WORLD         77

                                                   Unnamed: 3 Unnamed: 4
Sources: UNESCO Institute for statistics ; Worl...
Antilles néerlandaises                                    NaN        NaN
Iles Caïmanes                                             NaN        NaN
Seychelles                                                NaN        NaN
Territoires autonomes palestiniens                        NaN        NaN
WORLD                                                     NaN        NaN

In [ ]:
print(data1.columns) # conocer las columnas

In [18]:
print (data1.shape) #conocer la distribucion de la columna

(189, 4)

In [20]:
print(data1.info) #conocer la tabla

<bound method DataFrame.info of                                                    Unnamed: 1  \
Sources: UNESCO Institute for statistics ; Worl...
NaN                                                       NaN
SEE FOLLOWING SHEETS FOR RAW DATA AND LINKS               NaN
NaN                                                       NaN
Fertility versus female literacy by country               NaN
NaN                                                       NaN
NaN                                                       NaN
Country                                             Continent
Chine                                                     ASI
Inde                                                      ASI
USA                                                       NAM
Indonésie                                                 ASI
Brésil                                                    LAT
Pakistan                                                  ASI
Bangladesh                                                ASI
Nigéria                                                    AF
Fédération de Russie                                      EUR
Japan                                                     ASI
Mexique                                                   LAT
Philippines                                               ASI
Viet Nam                                                  ASI
Germany                                                   EUR
Egypte                                                     AF
Ethiopie                                                   AF
Turquie                                                   ASI
Iran, République islamique d'                             ASI
Thaïlande                                                 ASI
Rép. Démocratique du Congo                                 AF
France                                                    EUR
UK                                                        EUR
Italie                                                    EUR
...                                                       ...
Malte                                                     EUR
Brunéi Darussalam                                         ASI
Bahamas                                                   LAT
Iceland                                                   EUR
Maldives                                                  ASI
Vanuatu                                                   OCE
Samoa                                                     OCE
Sao Tomé-et-Principe                                       AF
Aruba                                                     LAT
Tonga                                                     ASI
NaN                                                       NaN
NaN                                                       NaN
NaN                                                       NaN
NaN                                                       NaN
NaN                                                       NaN
NaN                                                       NaN
NaN                                                       NaN
NaN                                                       NaN
NaN                                                       NaN
NaN                                                       NaN
NaN                                                       NaN
NaN                                                       NaN
NaN                                                       NaN
Country                                             Continent
Antigua-et-Barbuda                                        NaN
Antilles néerlandaises                                    NaN
Iles Caïmanes                                             NaN
Seychelles                                                NaN
Territoires autonomes palestiniens                        NaN
WORLD                                                   WORLD

                                                                    Unnamed: 2  \
Sources: UNESCO Institute for statistics ; Worl...
NaN                                                                        NaN
SEE FOLLOWING SHEETS FOR RAW DATA AND LINKS                                NaN
NaN                                                                        NaN
Fertility versus female literacy by country                                NaN
NaN                                                          most recent value
NaN                                                 or estimate (2002 to 2008)
Country                                                        female literacy
Chine                                                                     90.5
Inde                                                                      50.8
USA                                                                         99
Indonésie                                                                 88.8
Brésil                                                                    90.2
Pakistan                                                                    40
Bangladesh                                                                49.8
Nigéria                                                                   48.8
Fédération de Russie                                                      99.4
Japan                                                                       99
Mexique                                                                   91.5
Philippines                                                               93.9
Viet Nam                                                                  90.2
Germany                                                                     99
Egypte                                                                    57.8
Ethiopie                                                                  22.8
Turquie                                                                   81.3
Iran, République islamique d'                                             77.2
Thaïlande                                                                 91.5
Rép. Démocratique du Congo                                                56.1
France                                                                      99
UK                                                                          99
Italie                                                                    98.5
...                                                                        ...
Malte                                                                     93.5
Brunéi Darussalam                                                         93.3
Bahamas                                                                   96.5
Iceland                                                                     99
Maldives                                                                  98.4
Vanuatu                                                                   79.5
Samoa                                                                     98.5
Sao Tomé-et-Principe                                                      83.3
Aruba                                                                       98
Tonga                                                                     99.1
NaN                                                                        NaN
NaN                                                                        NaN
NaN                                                                        NaN
NaN                                                                        NaN
NaN                                                                        NaN
NaN                                                                        NaN
NaN                                                                        NaN
NaN                                                                        NaN
NaN                                                                        NaN
NaN                                                                        NaN
NaN                                                                        NaN
NaN                                                                        NaN
NaN                                                                        NaN
Country                                                        female literacy
Antigua-et-Barbuda                                                        99.4
Antilles néerlandaises                                                    96.3
Iles Caïmanes                                                               99
Seychelles                                                                92.3
Territoires autonomes palestiniens                                        90.9
WORLD                                                                       77

                                                   Unnamed: 3   Unnamed: 4
Sources: UNESCO Institute for statistics ; Worl...
NaN                                                       NaN          NaN
SEE FOLLOWING SHEETS FOR RAW DATA AND LINKS               NaN          NaN
NaN                                                       NaN          NaN
Fertility versus female literacy by country               NaN          NaN
NaN                                                       NaN          NaN
NaN                                                      2009         2008
Country                                             fertility   population
Chine                                                   1.769   1324655000
Inde                                                    2.682  1.13996e+09
USA                                                     2.077    304060000
Indonésie                                               2.132    227345082
Brésil                                                  1.827    191971506
Pakistan                                                3.872  1.66111e+08
Bangladesh                                              2.288    160000128
Nigéria                                                 5.173    151212254
Fédération de Russie                                    1.393    141950000
Japan                                                   1.262    127704000
Mexique                                                 2.156   1.0635e+08
Philippines                                             3.026     90348437
Viet Nam                                                2.033     86210781
Germany                                                 1.324     82110097
Egypte                                                  2.816     81527172
Ethiopie                                                5.211     80713434
Turquie                                                   2.1     73914260
Iran, République islamique d'                           1.781  7.19563e+07
Thaïlande                                               1.822     67386383
Rép. Démocratique du Congo                              5.908     64256635
France                                                  1.881     62277432
UK                                                      1.852     61414062
Italie                                                   1.39     59832179
...                                                       ...          ...
Malte                                                   1.251       411950
Brunéi Darussalam                                       2.052       392280
Bahamas                                                 3.371       337668
Iceland                                                 2.093       317414
Maldives                                                    2       305027
Vanuatu                                                 3.883       233866
Samoa                                                   3.852       178869
Sao Tomé-et-Principe                                    3.718       160174
Aruba                                                   1.732       105455
Tonga                                                   3.928       103566
NaN                                                       NaN          NaN
NaN                                                       NaN          NaN
NaN                                                       NaN          NaN
NaN                                                       NaN          NaN
NaN                                                       NaN          NaN
NaN                                                       NaN          NaN
NaN                                                       NaN          NaN
NaN                                                       NaN          NaN
NaN                                                       NaN          NaN
NaN                                                       NaN          NaN
NaN                                                       NaN          NaN
NaN                                                       NaN          NaN
NaN                                                       NaN          NaN
Country                                             fertility          NaN
Antigua-et-Barbuda                                        NaN          NaN
Antilles néerlandaises                                    NaN          NaN
Iles Caïmanes                                             NaN          NaN
Seychelles                                                NaN          NaN
Territoires autonomes palestiniens                        NaN          NaN
WORLD                                                     NaN          NaN

[189 rows x 4 columns]>

In [21]:
print(data1.describe()) #conocer la tabla

       Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4
count         165         172     165.000         164
unique          8         123     159.000         164
top            AF          99       1.436    16803952
freq           49          16       2.000           1

# Clase 2 Exploratory data analysis